@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*,
*:before,
*:after {
    padding: 0px;
    margin:0px;
}

html {
    box-sizing: border-box;
}

body {
    font-family: $base-fonts-family;
    background: $background-color;

    .page-enter-active, .page-leave-active {
         transition: opacity .5s; 
        }
    .page-enter, .page-leave-active {
         opacity: 0; 
        }
  }